<head>
  <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="mainstreetws.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DJ Ruck</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/custom_one.css">
  <link rel="stylesheet" href="/css/custom_two.css">
  <link rel="stylesheet" href="/css/lightbox.css">
  <link rel="shortcut icon" type="image/png" href="{{site.url}}/favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Jura:500' rel='stylesheet' type='text/css'>
</head">

